*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.4;
}
form{
	display: flex;
}
input[type="text"]{
	flex: 10;
	padding: 5px;
}
input[type="submit"]{
	flex: 2
}
input[type="checkbox"]{
	display: inline-block;
	width:25px;
	height:25px;
	vertical-align:middle;
	padding:5vw;
	float: left;
}
.header{
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px
}
.header a {
    color: #fff;
    padding-right: 5px;
}
.btn{
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}
.btn:hover{
  background: #666
}
.todo-item-div{
	display: inline-block;
}
.todo-item{
    background : #f4f4f4;
    width:20vw;
    min-width:200px;
    max-width:300px;
    height:20vh;
    min-height:200px;
    max-height:300px;
    padding:5px;
    margin-top:3px;
    margin-left:3px;
    border-bottom : 1px #ccc dotted;
    text-align: center;
    overflow:hidden;
    word-break: break-all;
}
.control_window{
	height:15%;
}
.content_window{
	border-top:1px black solid;
	height:85%;
	padding:2px;
}

.is-complete{
	background-color:#B5FFB5;	
    text-decoration : line-through;
}

.del{
    background : #ff0000;
    color : #fff;
    border: none;
    padding: 5px 8px;
    border-radius: 100%;
    cursor: pointer;
    float: right;
}
